/* color */
#index {
    background-color: #0062BE;

}
.navbarText{
    text-align: end;


}


/* BUTTON*/

 #index .btn {
  color: black;
  cursor: pointer;

  }
    .register{
    border: 3px solid;
    border-color: #ff9800;
    color: white;

  }
    .login{
    background-color: #ff914d;


  }
  .learnmore{
    background-color: #ff914d;



  }
